:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --black: #242d49;
  --gray: rgba(36, 45, 73, 0.65);
  --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  --hrColor: rgb(207, 205, 205);
  --cardColor: rgb(59, 59, 59);
  --buttonBg: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
  --inputColor: rgba(40, 52, 62, 0.07);
  --photo: #4CB256;
  --video: #4A4EB7;
  --location: #EF5757;
  --shedule: #E1AE4A;
  --thecol: #00ff40;
  --clr-neon: rgb(0, 225, 255);
  --clr-ne:rgb(0, 60, 255);
  --clr-bg: hsl(323 21% 16%);
  --body-font: 'Poppins', sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.App{
  overflow: hidden;
  color: var(black);
  background-color: #6911bbbd;
  padding: 1rem 1rem;
}

.blur{
  position: absolute;
  width: 32rem;
  height: 14rem;
  border-radius: 70%;
  background-color: #10df62;
  filter: blur(72px);


}

.button{
  font: var(--body-font);
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: white;
  background-color: var(--clr-ne);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  position: relative;
}
.button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(white);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0;
}
.button::after {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 0ms linear;
}

.button:hover,
.button:focus {
  color: var(--clr-bg);
  text-shadow: none;
  background-color: gold;
}

.button:hover::before,
.button:focus::before {
  opacity: 1;
}
.button:hover::after,
.button:focus::after {
  opacity: 1;
}

::-webkit-scrollbar{
  display: none;
}